<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='stylesheet' href='/css/utils/paper.min.css' />
  <link rel='stylesheet' href='/css/utils/a4.css' />
  <link rel='icon' href='/img/icon.png' />
  <title>
    LGBM UFMS/CPTL
  </title>
</head>

<body class='A4'>
  <section class='sheet padding-10mm'>
    <div class='content'>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      <section class='box'>
        <div class='header-t w-100'>
          <h2>
            Informações do Paciente
          </h2>
        </div>
        <div class='field row'>
          <p>
            <b>
              Nome:
            </b>{{amostra.paciente_nome}}
          </p>
          <p>
            <b>
              Código:
            </b>{{#if codigo}}
              {{codigo}}
            {{else}}
              {{amostra.idAmostra}}
            {{/if}}
          </p>
        </div>
        <div class='field row'>
          <p>
            <b>
              Data de Nascimento:
            </b>{{amostra.f_dt_nasc}}
          </p>
          <p>
            <b>
              Idade:
            </b>{{amostra.f_dt_nasc}}
          </p>
        </div>
        <div class='field row'>
          <p>
            <b>
              Material:
            </b>{{amostra.material}}
          </p>
          <p>
            <b>
              Sexo:
            </b>{{amostra.sexo}}
          </p>
        </div>
        <div class='field row'>
          <p>
            <b>
              Data de coleta:
            </b>{{amostra.f_dt_coleta}}
          </p>
          <p>
            <b>
              Data de recebimento:
            </b>{{#if amostra.f_dt_recebimento}}
              {{amostra.f_dt_recebimento}}
            {{else}}
              N/A
            {{/if}}
          </p>

        </div>
        <div class='field row' style='padding-left: 5px;'>
          <p>
            <b>
              Referido por:
            </b>{{amostra.solicitante_nome}}
            -
            {{amostra.cidade}}/{{amostra.estado}}
          </p>
          <p>
            <b>
              Naturalidade:
            </b>{{amostra.naturalidade_cidade}}
          </p>
        </div>
        <div class='field row' style='padding-left: 5px;'>
          <p>
            <b>
              Solicitação:
            </b>{{amostra.solicitacao}}
          </p>
        </div>
      </section>

      {{#each exames}}
        <br />
        <section class='box {{this.tipo}}'>
          <table>
            <thead>
              <tr>
                <th>
                  {{this.tipo}}
                </th>
                <th>
                  Resultado
                </th>
                <th>
                  Método
                </th>
                <th>
                  Refêrencia
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each this.valor}}
                <tr>
                  <td>
                    {{this.exame_nome}}
                  </td>
                  <td>
                    {{#if this.valor_resultado}}
                      {{this.valor_resultado}}
                    {{else}}
                      <p style='color:red;'>
                        Não avaliado
                      </p>
                    {{/if}}
                  </td>
                  <td>
                    {{this.metodo}}
                  </td>
                  <td>
                    {{this.valor_ref}}
                  </td>
                  {{#if this.observacao_resultado}}
                    <input
                      type='hidden'
                      data-valor='resultado'
                      value='{{this.observacao_resultado}}'
                    />
                  {{/if}}
                  {{#if this.exame_observacao}}
                    <input type='hidden' value='{{this.exame_observacao}}' />
                  {{/if}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        </section>
      {{/each}}

      <br />

      <section class='box box-limited'>
        <div class='header-t w-100'>
          <h2>
            Interpretação de Resultados
          </h2>
        </div>
        {{#if amostra.interpretacao_resultados}}
          <p style='padding-left: 5px;'>
            {{amostra.interpretacao_resultados}}
          </p>
        {{else}}
          <p style='color:red;padding-left: 5px;'>
            Ainda sem interpretações do resultado.
          </p>
        {{/if}}
      </section>

      <br />

      <section class='box box-limited'>
        <div class='header-t w-100'>
          <h2>
            Resultado
          </h2>
        </div>
        {{#if amostra.resultado}}
          <p style='padding-left: 5px;'>
            {{amostra.resultado}}
          </p>
        {{else}}
          <p style='color:red;padding-left: 5px;'>
            Ainda sem resultados.
          </p>
        {{/if}}
      </section>

      <br />

      <section class='box'>
        <div class='header-t w-100'>
          <h2>
            Observações
          </h2>
        </div>
        <p style='padding-left: 5px;'>
          {{#if amostra.observacao}}
            {{amostra.observacao}}
            Resultados de exames laboratoriais devem ser interpretados sempre em
            conjunto com os dados clínicos do paciente.
          {{else}}
            Resultados de exames laboratoriais devem ser interpretados sempre em
            conjunto com os dados clínicos do paciente.
          {{/if}}
        </p>
      </section>

      <br />

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      <div class='sign'>
        <p>
          Liberado e conferido em
          {{amostra.f_dt_liberacao}}
        </p>
        <b>
          {{responsavel}}
          <br />
          CRBio
          {{crbio}}
          <br />
          ART
          {{art}}
        </b>
      </div>
    </div>
  </section>
</body>

<script src='/js/libs/jquery-3.5.1.min.js'></script>
<script src='/bootstrap/js/bootstrap.bundle.min.js'></script>
<script src='/bootstrap/js/bootstrap.min.js'></script>
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js'
></script>
<script src='/js/utils/global.js'></script>
<script src='/js/utils/a4.js'></script>