<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/utils/global.css">
    <link rel="stylesheet" href="/css/relatorios/relatorios.css">
    <link rel="icon" href="/img/icon.png">
    <title>LGBM - Relatórios</title>
</head>

<body>
    {{>_menu}}
    <main>
        {{>_pesquisa}}
        <h3 class="subsection mt-2">Gerar Laudo da Amostra</h3>

        <div>
            <hr>
            <form method="GET" action="./imprimir-laudo" id="form-imprimir-laudo" target="_blank">
                <div id="warnings"></div>
                <div class="row">
                    <div class="form-group col-md-4 m-0 d-block mt-4">
                        <label for="id">ID da Amostra</label>
                        <input type="number" class="form-control" id="id" name="id" placeholder="Ex: 1, 2, 3...">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 m-0 d-block mt-4">
                        <label for="cod">Nome do Responsável</label>
                        <input type="text" class="form-control" id="responsavel" name="responsavel"
                            placeholder="Ex: Dr. Édis Belini Júnior" value="Dr. Édis Belini Júnior">
                    </div>
                    <div class="form-group col-md-4 m-0 d-block mt-4">
                        <label for="cod">CRBIO do Responsável</label>
                        <input type="text" class="form-control" id="crbio" name="crbio" placeholder="Ex: 113217/02-D"
                            value="113217/02-D">
                    </div>
                    <div class="form-group col-md-4 m-0 d-block mt-4">
                        <label for="cod">ART do Responsável</label>
                        <input type="text" class="form-control" id="art" name="art" placeholder="Ex: 2019/01090"
                            value="2019/01090">
                    </div>
                </div>

                <div class="form-check mt-4 m-0">
                    <input type="checkbox" class="form-check-input" id="papel" name="papel" checked>
                    <label class="form-check-label" for="papel">Imprimir com papel do laboratório</label>
                </div>

                <button type="button" class="btn active ml-1 mt-4" onclick="gerarLaudo()">Gerar Laudo</button>
            </form>
        </div>
        <div id="tabela">
        </div>
        <div>
            <hr>
            {{#if amostra}}
            <table class="table table-sm mt-4 border">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Solicitante</th>
                        <th scope="col">Material</th>
                        <th scope="col">Data de Recebimento</th>
                        <th scope="col">Suspeita de Diagnóstico</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each amostra}}
                    <tr {{#if this.em_analise}} class="table-warning clickable-row" {{else}} {{#if this.cadastrado}}
                        class="table-danger clickable-row" {{else}} {{#if this.finalizado}}
                        class="table-success clickable-row" {{else}} class="clickable-row" {{/if}} {{/if}} {{/if}}
                        onclick=javascript:window.open('/amostras/{{this.idAmostra}}','_blank')>
                        <th scope='row'>{{this.idAmostra}}</th>
                        <td>{{this.paciente_nome}}</td>
                        <td>{{this.solicitante_nome}}</td>
                        <td>{{this.material}}</td>
                        <td>{{#if this.f_dt_coleta}} {{this.f_dt_coleta}}{{/if}}</td>
                        <td>{{#if this.suspeita_diagnostico }} {{this.suspeita_diagnostico}} {{else}} N/A {{/if}}</td>
                        <td>{{this.status_pedido}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <div>
                <hr>
                <h4>Não há amostras cadastradas.</h4>
            </div>
            {{/if}}
        </div>
    </main>
</body>

<script src="/js/libs/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/utils/global.js"></script>


<script src="/js/relatorios/relatorios.js"></script>