<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/utils/global.css">
    <link rel="icon" href="/img/icon.png">
    <title>LGBM - Paciente</title>
</head>

<body>
    {{>_menu}}
    <main>
        {{>_pesquisa}}
        {{#if data}}
        <div class="border row mb-4 p-2">
            <a href="/editar-paciente/{{data.idPaciente}}" class="col-md-4">[Editar Paciente]</a>
            <a href="javascript:deleteData({{data.idPaciente}})" class="col-md-4">[Remover Paciente]</a>
        </div>
        <div class="warnings" id="warnings"> </div>


        <p class='m-0'><b>ID</b>: {{data.idPaciente}}</p>
        <p class='m-0'><b>Nome</b>: {{data.nome}}</p>
        <p class='m-0'><b>Sexo</b>: {{data.sexo}}</p>
        <p class='m-0'><b>Data de Nascimento</b>: {{data.dt_nasc}}</p>
        <p class='m-0'><b>Recém Nascido</b>: {{#if data.recem_nascido}} Sim {{else}} Não {{/if}} </p>
        <p class='m-0'><b>Etnia</b>: {{data.etnia}} </p>
        <p class='m-0'><b>Estado</b>: {{data.naturalidade_estado}}</p>
        <p class='m-0'><b>Cidade</b>: {{data.naturalidade_cidade}} </p>
        <div>
            <hr>
            <p class='m-0'><b>Observações</b>: {{#if data.observacao}} {{data.observacao}} {{else}} Sem observações
                {{/if}}</p>
            <p class='m-0'><b>Cadastrado em </b>: {{data.cadastrado_em}}</p>
            {{#if data.cadastrado_por}} <p class='m-0'><b>Cadastrado por</b>: {{data.cadastrado_por}}</p> {{/if}}
            <hr>
        </div>




        {{else}}
        <h3>Não há um paciente com este ID.</h3>
        {{/if}}
    </main>
</body>

<script src="/js/libs/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/utils/global.js"></script>


<script src="/js/pacientes/visualizar-paciente.js"></script>