<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/utils/global.css">
    <link rel="stylesheet" href="/css/principal/tela-inicial.css">
    <link rel="icon" href="/img/icon.png">
    <title>LGBM UFMS/CPTL</title>
</head>

<body>
    {{>_menu}}
    <main>
        {{>_pesquisa}}
        <h3 class="subsection" class="mt-4">Visão Geral</h3>
        <div class="highlights mt-4 mb-4">
            <div class="unit">
                <p class="unit-text">Solicitantes</p>
                <h1 class="unit-value">{{contador.solicitantes}}</h1>
            </div>
            <div class="unit">
                <p class="unit-text">Exames</p>
                <h1 class="unit-value">{{contador.exames}}</h1>
            </div>
            <div class="unit">
                <p class="unit-text">Pacientes</p>
                <h1 class="unit-value">{{contador.pacientes}}</h1>
            </div>
        </div>

        <div class="highlights mb-4">
            <div class="unit">
                <p class="unit-text">Amostras</p>
                <h1 class="unit-value">{{contador.amostras}}</h1>
            </div>
            <div class="unit">
                <p class="unit-text">Amostras Parcialmente Avaliadas</p>
                <h1 class="unit-value">{{contador.amostrasP}}</h1>
            </div>
            <div class="unit">
                <p class="unit-text">Amostras Não Avaliadas</p>
                <h1 class="unit-value">{{contador.amostrasNA}}</h1>
            </div>
        </div>

        <h3 class="subsection" class="mt-4">Acesso Rápido</h3>

        <div class="highlights mt-4 mb-4">
            <a href="/cadastrar-paciente" class="btn btn-primary quickbtn">Cadastrar pacientes</a>
            <a href="/cadastrar-amostra" class="btn btn-primary quickbtn">Cadastrar amostras</a>
            <a href="/cadastrar-exame" class="btn btn-primary quickbtn">Cadastrar exames</a>
        </div>
        <h3 class="subsection" class="mt-4 mb-4">Próximas Atividades</h3>

        <div class="row m-0 mt-2 mb-4">
            {{#each amostras}}
            <div class="unit bg-{{#if this.em_analise}}warning{{else}}danger{{/if}} {{#if this.em_analise}} text-dark {{/if}}  unit-amostra col mr-2"
                onclick="javascript:window.location.href='/amostras/{{this.idamostra}}'">
                <p class="unit-text m-0">Amostra-{{this.idamostra}}</p>
                <h4 class="unit-value m-0">{{this.nome}}</h4>
                {{#if this.f_cadastrado_em}} <p class="unit-text m-0">{{this.f_cadastrado_em}}</p>{{/if}}
            </div>
            {{/each}}
        </div>

        <h3 class="subsection" class="mt-4">Registro de Atividades</h3>

        <div class="card-header border" id="headingOne" type="button" data-toggle="collapse"
            data-target="#collapseAlteracoes" aria-expanded="false" aria-controls="collapseAlteracoes">
            <h5 class="mb-0">
                Alterações Recentes
            </h5>
        </div>
        <div class="collapse" id="collapseAlteracoes">
            <div class="card card-body m-0 p-0">
                {{#each registros}}
                <div class="bg-light rounded registro">
                    <span
                        class="badge badge-pill badge-{{this.op}} m-0 d-flex align-items-center justify-content-center">{{this.op}}</span>
                    <span
                        class="badge badge-pill badge-{{this.tabela}} m-0 d-flex align-items-center justify-content-center">{{this.tabela}}</span>
                    <h4 class="subsection sub-text m-0">{{this.conteudo}}</h4>
                    <h6 class="m-0 d-flex align-items-center justify-content-end">{{this.alterado_em}}</h6>
                </div>
                {{/each}}
            </div>
        </div>

    </main>

</body>

<script src="/js/libs/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/principal/pagina-inicial.js"></script>