<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/utils/global.css">
    <link rel="stylesheet" href="/css/usuarios/meu-perfil.css">

    <link rel="icon" href="/img/icon.png">
    <title>LGBM - Meu perfil</title>
</head>

<body>
    {{>_menu}}
    <main>
        {{>_pesquisa}}
        <div class="border row mb-4 p-2 m-0">
            <a href="javascript:liberarEmail()" class="col-md-4">[Editar E-mail]</a>
            <a href="javascript:liberarSenha()" class="col-md-4">[Editar Senha]</a>
            <a href="javascript:$('#foto').click()" class="col-md-4">[Editar Foto]</a>
        </div>
        <img id="foto-logo" src="{{usuario.foto}}" alt="Foto de Perfil"
            class="rounded-circle w-25 border foto-perfil" />
        <br>
        <div>
            <h4>Editar Perfil</h4>
            <hr>
            <div id="warnings"></div>
            <form action="" method="POST" id='formulario-usuario' enctype="multipart/form-data">
                <input type="hidden" name="login" id="login" value="{{usuario.login}}">

                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" value="{{usuario.nome}}">
                </div>

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{usuario.email}}" readonly>
                </div>

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" id="senha"  name="senha" value="{{usuario.senha}}" readonly>
                </div>

                <hr>
                <input type="file" name="foto" id="foto" accept="image/*" onchange="previewFile()">
                {{#if user.administrador}} <b> Essa conta possui privilégios de administrador. </b>
                <hr>{{/if}}
                <div class="row m-0 mb-4">
                    <button type="submit" id="alterar-usuario" class="btn active col mr-3">Salvar perfil</button>
                    <button type="reset" class="btn btn-secondary col">Limpar</button>
                </div>
            </form>
        </div>
    </main>
</body>

<script type="module" src="/js/libs/jquery-3.5.1.min.js"></script>
<script type="module" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="module" src="/bootstrap/js/bootstrap.min.js"></script>

<script type="module" src="/js/usuarios/meu-perfil.js"></script>