 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/utils/global.css">
    <link rel="icon" href="/img/icon.png">
    <title>LGBM - Exame</title>
</head>

<body>
    {{>_menu}}
    <main>
        {{>_pesquisa}}
        {{#if data}}
        <div class="border row mb-4 p-2">
            <a href="/editar-exame/{{data.idExame}}" class="col-md-4">[Editar Exame]</a>
            <a href="javascript:deleteData({{data.idExame}})" class="col-md-4">[Remover Exame]</a>
        </div>
        <div class="warnings" id="warnings"> </div>


        <div>
            <p class='m-0'><b>ID</b>: {{data.idExame}}</p>
            <p class='m-0'><b>Nome</b>: {{data.nome}}</p>
            <p class='m-0'><b>Tipo</b>: {{data.tipo_analise}}</p>
            <p class='m-0'><b>Método</b>: {{data.metodo}}</p>
            {{#if data.preco}}<p class='m-0'><b>Preço</b>: {{data.preco}}</p> {{/if}}
        </div>
        <div>
            <hr>
            <p class='m-0'><b>Valor de Referência</b>: {{data.valor_ref}}</p>
            <p class='m-0'><b>Tipo do Valor de Referência</b>: {{data.tipo_valor_ref}} </p>
            <p class='m-0'><b>Tipo do Valor do Resultado</b>: {{data.tipo_resultado}} </p>
        </div>
        {{#if intervalo}}
        <br>
        <div>
            <h5>Tabela de referências por idade</h5>
            <table class="table table-bordered mb-0">
                <thead>
                    <tr>
                        <th scope="col">Idade (meses)</th>
                        <th scope="col">Referência</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each intervalo}}
                    <tr>
                        <td>{{this.idade}}</td>
                        <td>{{this.valor}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{/if}}

        <br>
        <div>
        {{#if data.valores}} 
            <p class='m-0'><b>Possíveis Valores</b>:</p>
            <ul>
                {{#each data.valores}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        {{/if}}
        </div>

        <div>
            <hr>
            <p class='m-0'><b>Observações</b>: {{#if data.observacao}} {{data.observacao}} {{else}} Sem observações
                {{/if}}</p>
            <p class='m-0'><b>Cadastrado em </b>: {{data.cadastrado_em}}</p>
            {{#if data.cadastrado_por}} <p class='m-0'><b>Cadastrado por</b>: {{data.cadastrado_por}}</p> {{/if}}
            <hr>
        </div>
        {{else}}
        <h3>Não há um exame com este ID.</h3>
        {{/if}}
    </main>
</body>

<script src="/js/libs/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/utils/global.js"></script>


<script src="/js/exames/visualizar-exame.js"></script>